In [15]:
import pandas as pd
import numpy as np
import io
import requests

In [19]:
url="https://opendata.ecdc.europa.eu/covid19/casedistribution/csv"
s=requests.get(url).content
Dat1=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [20]:

Dat1.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,03/04/2020,3,4,2020,43,0,Afghanistan,AF,AFG,37172386.0
1,02/04/2020,2,4,2020,26,0,Afghanistan,AF,AFG,37172386.0
2,01/04/2020,1,4,2020,25,0,Afghanistan,AF,AFG,37172386.0
3,31/03/2020,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
4,30/03/2020,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0

In [14]:
Data.set_index(['countriesAndTerritories']).filter(like= 'Spain', axis=0)

,dateRep,day,month,year,cases,deaths,geoId,countryterritoryCode,popData2018
countriesAndTerritories,,,,,,,,,
Spain,03/04/2020,3,4,2020,8102,950,ES,ESP,46723749.0
Spain,02/04/2020,2,4,2020,7719,864,ES,ESP,46723749.0
Spain,01/04/2020,1,4,2020,9222,849,ES,ESP,46723749.0
Spain,31/03/2020,31,3,2020,6398,812,ES,ESP,46723749.0
Spain,30/03/2020,30,3,2020,6549,838,ES,ESP,46723749.0
...,...,...,...,...,...,...,...,...,...
Spain,04/01/2020,4,1,2020,0,0,ES,ESP,46723749.0
Spain,03/01/2020,3,1,2020,0,0,ES,ESP,46723749.0
Spain,02/01/2020,2,1,2020,0,0,ES,ESP,46723749.0
Spain,01/01/2020,1,1,2020,0,0,ES,ESP,46723749.0
Spain,31/12/2019,31,12,2019,0,0,ES,ESP,46723749.0

In [24]:
url="https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_casos.csv"
s = requests.get(url).content
Dat2 = pd.read_csv(io.StringIO(s.decode('utf-8')))
Dat2.head(50)

,cod_ine,CCAA,2020-02-27,2020-02-28,2020-02-29,2020-03-01,2020-03-02,2020-03-03,2020-03-04,2020-03-05,...,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03
0,1,Andalucía,1,6,8,12,12,13,13,12,...,3010,3406,3793,4277,4682,5405,5818,6392,6972,7374
1,2,Aragón,0,1,1,0,0,0,0,1,...,907,1116,1338,1592,1858,2078,2272,2491,2700,2889
2,3,Asturias,0,0,0,1,1,1,2,5,...,779,841,900,1004,1088,1158,1236,1322,1384,1433
3,4,Baleares,1,1,2,2,2,2,5,6,...,562,660,755,862,958,1000,1069,1131,1204,1257
4,5,Canarias,6,6,6,7,7,7,7,8,...,657,784,878,1025,1125,1204,1262,1380,1444,1490
5,6,Cantabria,0,0,0,1,10,10,10,10,...,510,671,810,937,1023,1100,1171,1213,1268,1321
6,8,Castilla-La Mancha,0,0,0,1,3,7,12,13,...,2780,3383,3934,4512,5246,5858,6424,7047,7682,8523
7,7,Castilla y León,0,2,2,3,3,8,11,11,...,2940,3488,4132,4791,5414,5801,6211,6847,7355,7875
8,9,Cataluña,2,3,5,6,15,15,15,24,...,9937,11592,12940,14263,15026,16157,18773,19991,21804,23460
9,18,Ceuta,0,0,0,0,0,0,0,0,...,9,10,17,17,21,25,34,51,55,62
10,10,C. Valenciana,2,8,10,15,15,15,19,19,...,2616,3200,3532,4034,4784,5110,5508,5922,6308,6624
11,11,Extremadura,0,0,0,4,6,6,6,6,...,742,969,1231,1394,1456,1560,1628,1679,1837,1893
12,12,Galicia,0,0,0,0,0,0,1,1,...,1653,1915,2322,2772,3139,3723,4039,4432,4842,5219
13,13,Madrid,4,5,8,10,29,49,70,90,...,14597,17166,19243,21520,22677,24090,27509,29840,32155,34188
14,19,Melilla,0,0,0,0,0,0,0,0,...,38,39,42,45,48,51,54,62,62,70
15,14,Murcia,0,0,0,0,0,0,0,0,...,477,596,714,802,872,939,974,1041,1084,1145
16,15,Navarra,0,0,0,1,1,1,3,3,...,1197,1411,1641,1829,2011,2146,2305,2497,2682,2836
17,16,País Vasco,0,0,2,3,9,13,17,17,...,3271,3946,4601,5136,5740,6057,6320,6838,7317,7827
18,17,La Rioja,0,0,0,0,1,3,7,11,...,928,995,1236,1436,1629,1733,1810,1960,2083,2224
19,0,Total,16,32,44,66,114,150,198,237,...,47610,56188,64059,72248,78797,85195,94417,102136,110238,117710

In [25]:
url="https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_fallecidos.csv"
s = requests.get(url).content
Dat2 = pd.read_csv(io.StringIO(s.decode('utf-8')))
Dat2.head(50)

,cod_ine,CCAA,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,...,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,2020-03-31,2020-04-01,2020-04-02,2020-04-03
0,1,Andalucía,0,0,0,0,0,0,0,0,...,113,134,144,175,207,236,248,308,343,376
1,2,Aragón,0,0,0,1,1,2,2,3,...,40,48,58,58,93,106,138,169,200,224
2,3,Asturias,0,0,0,0,0,0,0,0,...,25,27,29,33,41,49,55,63,69,70
3,4,Baleares,0,0,0,0,0,0,0,0,...,13,17,22,26,29,37,42,46,58,69
4,5,Canarias,0,0,0,0,0,0,0,0,...,21,24,27,36,39,40,55,62,68,73
5,6,Cantabria,0,0,0,0,0,0,0,0,...,14,17,21,22,26,27,37,54,60,64
6,8,Castilla-La Mancha,0,0,0,0,0,0,0,0,...,263,316,367,448,539,622,708,774,854,916
7,7,Castilla y León,0,0,0,0,0,0,0,0,...,165,206,252,321,380,442,516,585,641,723
8,9,Cataluña,0,0,0,0,1,1,1,3,...,516,672,880,1070,1226,1410,1672,1849,2093,2335
9,18,Ceuta,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
10,10,C. Valenciana,0,1,1,1,1,1,1,1,...,143,167,198,234,267,310,339,395,443,511
11,11,Extremadura,0,0,0,0,0,0,0,0,...,39,58,69,88,100,106,133,152,181,200
12,12,Galicia,0,0,0,0,0,0,0,0,...,27,32,43,47,60,66,84,103,120,138
13,13,Madrid,0,0,1,2,4,8,8,21,...,1825,2090,2412,2757,3082,3392,3603,3865,4175,4483
14,19,Melilla,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,2
15,14,Murcia,0,0,0,0,0,0,0,0,...,5,8,15,17,20,25,34,37,42,46
16,15,Navarra,0,0,0,0,0,0,0,0,...,33,49,58,70,84,102,113,130,141,151
17,16,País Vasco,0,0,1,1,1,5,5,6,...,155,180,207,221,265,297,325,369,412,444
18,17,La Rioja,0,0,0,0,0,0,0,1,...,37,43,55,65,68,71,85,90,101,109
19,0,Total,0,1,3,5,8,17,17,35,...,3434,4089,4858,5690,6528,7340,8189,9053,10003,10935